/* sass --watch scss:css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.875rem;
  color: #052b5d;
  min-height: 100vh;
  overflow-x: hidden;
}
body.noscroll {
  overflow: hidden;
}
body main {
  position: relative;
  z-index: 2;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: italic;
}

/*carousel*/
.owl-carousel .owl-stage {
  padding-bottom: 2em;
}

.owl-dots {
  width: fit-content;
  margin: 0 auto 1em auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.owl-dot span {
  height: 0.5em;
  width: 0.5em;
  margin: 0 0.5em;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
  display: block;
}

.owl-dot:focus {
  outline: none;
}

.container {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 62em) {
  .hide-for-desktop {
    display: none;
  }
}

header {
  position: relative;
}
header .nav-wrapper {
  padding-top: 50px;
  display: flex;
}
header .nav-wrapper .nav__items {
  justify-self: flex-end;
  margin-left: auto;
}
header .nav-wrapper .nav__items .link__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-wrapper .nav__items .link__list .nav__item .nav__link {
  margin-left: 1rem;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
header .nav-wrapper .nav__items .link__list .nav__item .nav__link.donate {
  color: #ffa45c;
}
header .nav-wrapper .nav__items .link__list .nav__item .nav__link:hover {
  opacity: 0.6;
}

@media (max-width: 63.9375em) {
  .menu__toggle {
    position: relative;
    display: block;
    width: 38px;
    margin-left: auto;
    z-index: 10;
  }
}
.menu__toggle span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background-color: #f55f44;
  transition: all 0.3s ease-in-out;
  transform-origin: 3px 1px;
}
.menu__toggle span:not(:last-child) {
  margin-bottom: 6px;
}
.menu__toggle.open span:first-child {
  transform: rotate(45deg);
}
.menu__toggle.open span:nth-child(2) {
  opacity: 0;
}
.menu__toggle.open span:last-child {
  transform: rotate(-45deg);
}
.menu__toggle:hover {
  opacity: 0.5;
}

.mobile-menu {
  position: absolute;
  min-height: 250px;
  width: 0;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding: 70px 0;
  transition: 0.3s ease-in-out;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.1);
}
.mobile-menu .menu__list .menu__item {
  padding: 10px 0;
  cursor: pointer;
}
.mobile-menu .menu__list .menu__item.donate {
  background-color: #f55f44;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}
.mobile-menu .menu__list .menu__item.donate .menu__link {
  color: #fff;
  text-align: center;
}
.mobile-menu .menu__list .menu__item .menu__link {
  width: max-content;
  padding: 5px 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #052b5d;
  display: block;
  transition: 0.3s;
}
.mobile-menu .menu__list .menu__item .menu__link:hover {
  opacity: 0.5;
}

.contact-banner {
  padding-top: 30px;
  margin-top: 70px;
  border-top: 1px solid #eee;
}
.contact-banner .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.contact-banner .wrapper .contact-infos {
  flex: 1;
}
.contact-banner .wrapper .contact-infos .name {
  font-weight: 500;
  color: #333;
}
.contact-banner .wrapper .contact-infos div:not(.name) {
  font-size: 0.8rem;
}
.contact-banner .wrapper .contact-infos a:hover {
  text-decoration: underline;
}
.contact-banner .wrapper .partners-logos {
  flex: 1;
  display: flex;
  gap: 0.3rem;
}
@media (max-width: 39.9375em) {
  .contact-banner .wrapper .partners-logos {
    flex-wrap: wrap;
  }
}
.contact-banner .wrapper .partners-logos .partner-logo {
  position: relative;
  flex: 1;
  max-width: 100%;
  max-height: 150px;
  min-width: 150px;
}
@media (min-width: 40em) {
  .contact-banner .wrapper .partners-logos .partner-logo:nth-child(2) img {
    position: absolute;
    top: 12px;
  }
}
@media (min-width: 40em) {
  .contact-banner .wrapper .partners-logos .partner-logo {
    height: 150px;
  }
}
.contact-banner .wrapper .partners-logos .partner-logo img {
  height: 100%;
  object-fit: contain;
}

footer {
  font-size: 0.8rem;
  color: #333;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0 5px;
  margin-top: 10px;
  border-top: 1px solid #eee;
}
footer .wrapper .docs span {
  display: block;
  line-height: 1.3;
}
footer .wrapper .docs span a:hover {
  text-decoration: underline;
}

.top-banner {
  margin-top: 50px;
}
.top-banner .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 62em) {
  .top-banner .wrapper {
    flex-direction: row;
  }
}
.top-banner .wrapper .banner-img {
  flex: 1;
}
.top-banner .wrapper .banner-img img {
  height: 100%;
  object-fit: cover;
}
.top-banner .wrapper .banner-text {
  flex: 1;
  background-color: #ffa45c;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 61.9375em) {
  .top-banner .wrapper .banner-text {
    padding: 1rem;
  }
}
.top-banner .wrapper .banner-text .content {
  padding: 20px 5px;
  color: #111;
}
@media (min-width: 40em) {
  .top-banner .wrapper .banner-text .content {
    padding: 40px 30px;
  }
}
.top-banner .wrapper .banner-text h1 {
  font-size: 42px;
  line-height: 50px;
  color: #fff;
}
@media (max-width: 39.9375em) {
  .top-banner .wrapper .banner-text h1 {
    word-break: break-all;
  }
}
.top-banner .wrapper .banner-text h1 .black {
  color: #111;
}
.top-banner .wrapper .banner-text .covid {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 100;
  opacity: 0.8;
}
.top-banner .wrapper .banner-text .help {
  margin: 35px auto;
  font-size: 20px;
  font-weight: 500;
  max-width: 30ch;
}
.top-banner .wrapper .banner-text .white {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.form {
  max-width: 700px;
  margin-bottom: 2rem;
}

.card-payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 40em) {
  .card-payment {
    flex-direction: row;
    justify-content: space-between;
  }
}

.names-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 40em) {
  .names-group {
    gap: 1px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.email-group {
  display: flex;
  flex-direction: column;
}
@media (min-width: 40em) {
  .email-group {
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.credit-card-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 40em) {
  .credit-card-group {
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .credit-card-group .cards-img {
    position: relative;
  }
  .credit-card-group .cards-img img {
    position: absolute;
    top: 10px;
  }
}

.expiration-group {
  display: flex;
  flex-direction: column;
}
@media (min-width: 40em) {
  .expiration-group {
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .expiration-group .form-group:first-child {
    flex: 2;
  }
}
.expiration-group .date-group {
  display: flex;
  gap: 5px;
}
@media (min-width: 40em) {
  .expiration-group .date-group {
    gap: 30px;
  }
}

.zip-group,
.city-group {
  display: flex;
  flex-direction: column;
}
@media (min-width: 40em) {
  .zip-group,
.city-group {
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .zip-group .form-group:first-child,
.city-group .form-group:first-child {
    flex: 2;
  }
}

.cards-img {
  flex: 1;
  width: 100%;
  height: 100px;
  max-width: 300px;
}
.cards-img img {
  height: 100%;
  object-fit: contain;
}

.title {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 46px;
  font-weight: 600;
  letter-spacing: -1px;
}

.big {
  font-size: 32px;
  line-height: 40px;
}

.yellow {
  color: #ffa45c;
  margin-top: 20px;
}

.black {
  line-height: 36px;
  color: #111;
}

#donation-amounts {
  margin-top: 70px;
}
#donation-amounts .amounts {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0 1rem;
  gap: 10px;
}
#donation-amounts .amounts .amount-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: lightskyblue;
  font-weight: 600;
  cursor: pointer;
}
#donation-amounts .amounts .amount-btn.red {
  background-color: #f55f44;
}
#donation-amounts .other-amount {
  max-width: 700px;
}

.form-group {
  margin-top: 1.3rem;
  flex: 1;
}
.form-group label {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
}
.form-group input {
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  margin-top: 0.3rem;
  padding: 0 1rem;
  background-color: #eee;
  border: none;
  opacity: 0.8;
}
.form-group input:focus {
  outline: 1px solid #052b5d;
}

.checkbox-group {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.checkbox-group label {
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: -1px;
}

/*# sourceMappingURL=donation.css.map */
