.contact-banner {
  padding-top: 30px;
  margin-top: 70px;
  border-top: 1px solid #eee;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .contact-infos {
      flex: 1;

      .name {
        font-weight: 500;
        color: #333;
      }

      div:not(.name) {
        font-size: 0.8rem;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .partners-logos {
      flex: 1;
      display: flex;
      gap: 0.3rem;

      @include breakpoint-down(small) {
        flex-wrap: wrap;
      }

      .partner-logo {
        position: relative;
        flex: 1;
        max-width: 100%;
        max-height: 150px;
        min-width: 150px;

        &:nth-child(2) {
          @include breakpoint-up(medium) {
            img {
              position: absolute;
              top: 12px;
            }
          }
        }

        @include breakpoint-up(medium) {
          height: 150px;
        }

        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
