header {
  position: relative;

  .nav-wrapper {
    padding-top: 50px;
    display: flex;

    .nav__items {
      justify-self: flex-end;
      margin-left: auto;

      .link__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__item {
          .nav__link {
            margin-left: 1rem;
            padding: 0.5rem;
            font-weight: 600;
            text-transform: uppercase;

            &.donate {
              color: $secondary-color;
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
