//Colors
$black: #000;
$white: #fff;
$gray: rgba(29, 29, 29, 0.7);
$darkGray: rgba(29, 29, 29, 0.75);
$blue: #132F82;
$darkBlue: #052b5d;

//Fonts
$font-sm: 0.9rem;
$font-primary: 1rem; //16px
$font-med: 1.15rem;
$font-lg: 1.375rem; //22px
$font-xlg: 1.5rem; //24px