@import 'variables';
@import 'mixins';
@import 'globals';
@import 'header';
@import 'mobile-menu';
@import 'section';
@import 'contact-banner';
@import 'footer';

section {
  &#who-we-are {
    padding-top: 6.75rem;

    .section-title {
      text-align: left;
    }

    .text-summary-wrapper {
      @include breakpoint-up(medium2) {
        display: flex;
        justify-content: space-between;
      }

      .text-main {
        border-top: 1px solid $primary-light;
        padding-top: 2rem;
        flex: 2;

        blockquote {
          color: $primary-light;

          p::before {
            content: open-quote;
            font-size: 3rem;
            color: $error-color;
          }

          p::after {
            content: close-quote;
            font-size: 3rem;
            color: $error-color;
          }
        }

        @include breakpoint-up(medium2) {
          margin-right: 2rem;
        }
      }

      .text-aside {
        flex: 1;

        .text-aside-img {
          position: relative;
          height: 605px;

          img {
            height: 100%;
            object-fit: cover;
            object-position: left;
          }

          .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 600;
            background-color: $secondary-color;
            text-align: center;
            padding: 1.5rem;
            color: #fff;
          }
        }

        .text-aside-text {
          margin-top: 0.8rem;
          padding: 1.5rem;
          background-color: #f2f2f2;
          margin-bottom: 75px;
        }
      }
    }

    .summary-next-wrapper {
      margin-bottom: 50px;

      blockquote {
        margin-bottom: 1.875rem;
        color: $primary-light;

        p::before {
          content: open-quote;
          font-size: 3rem;
          color: $error-color;
        }

        p::after {
          content: close-quote;
          font-size: 3rem;
          color: $error-color;
        }
      }
    }
  }

  &#current-footprint {
    .wrapper {
      .table {
        max-width: 100%;
        margin-bottom: 70px;

        table,
        tr,
        td {
          border: 2px solid #eee;
          border-collapse: collapse;
          padding: 0.8rem;

          td:nth-child(odd) {
            background-color: #f2f2f2;
            font-weight: 600;
          }
        }
      }
    }
  }

  &#partnerships {
    .wrapper {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      flex-wrap: nowrap;

      @include breakpoint-down(small) {
        justify-content: space-between;
        gap: 10px;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;

      .partner-logo {
        flex: 1 0 calc(50% - 5px);
        max-height: 100px;

        @include breakpoint-up(medium) {
          flex: 1 0 150px;
          margin-right: 1.5rem;
          max-width: 16%;
        }

        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
