@import 'variables';
@import 'mixins';
@import 'globals';
@import 'header';
@import 'mobile-menu';
@import 'contact-banner';
@import 'footer';

.top-banner {
  margin-top: 50px;

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include breakpoint-up(medium2) {
      flex-direction: row;
    }

    .banner-img {
      flex: 1;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .banner-text {
      flex: 1;
      background-color: $secondary-color;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include breakpoint-down(medium) {
        padding: 1rem;
      }

      .content {
        padding: 20px 5px;
        color: #333;

        @include breakpoint-up(medium) {
          padding: 40px 30px;
        }
      }

      h1 {
        font-size: 42px;
        line-height: 50px;
        color: #fff;

        @include breakpoint-down(small) {
          word-break: break-all;
        }

        .black {
          color: #333;
        }
      }

      .covid {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 100;
        opacity: 0.8;
      }

      .help {
        margin: 35px auto;
        font-size: 20px;
        font-weight: 500;
        max-width: 30ch;
      }

      .white {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

.form {
  max-width: 700px;
  margin-bottom: 2rem;

  .donor-infos {
    .title {
      margin-top: 25px;
    }
  }

  .submit-btn {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background-color: $primary-color;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    cursor: pointer;

    @include breakpoint-up(medium) {
      width: 150px;
    }

    &:hover {
      background-color: $primary-light;
    }
  }
}

.paypal-btn {
  height: 35px;
}

.paypal-payment {
  margin-top: 50px;

  form {
    margin-top: 30px;
  }
}

.card-payment {
  //display: flex;
  //flex-direction: column;
  //gap: 10px;
  margin-top: 50px;

  @include breakpoint-up(medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.names-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include breakpoint-up(medium) {
    gap: 1px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.email-group {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(medium) {
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.credit-card-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include breakpoint-up(medium) {
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cards-img {
      position: relative;

      img {
        position: absolute;
        top: 10px;
      }
    }
  }
}

.expiration-group {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(medium) {
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;

    .form-group:first-child {
      flex: 2;
    }
  }

  .date-group {
    display: flex;
    gap: 5px;

    @include breakpoint-up(medium) {
      gap: 30px;
    }
  }
}

.zip-group,
.city-group {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(medium) {
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;

    .form-group:first-child {
      flex: 2;
    }
  }
}

.cards-img {
  flex: 1;
  width: 100%;
  height: 100px;
  max-width: 300px;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.title {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 46px;
  font-weight: 600;
  letter-spacing: -1px;
}

.big {
  font-size: 32px;
  line-height: 40px;
}

.yellow {
  color: $secondary-color;
  margin-top: 20px;
}

.black {
  line-height: 36px;
  color: #333;
}

#donation-amounts {
  margin-top: 70px;

  .amounts {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 1rem;
    gap: 10px;

    .amount-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 50px;
      color: #fff;
      background-color: lightskyblue;
      font-weight: 600;
      cursor: pointer;

      &.red {
        background-color: $error-color;
      }
    }
  }

  .other-amount {
    max-width: 700px;
  }
}

.form-group {
  margin-top: 1.3rem;
  flex: 1;

  label {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
  }

  input {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    margin-top: 0.3rem;
    padding: 0 1rem;
    background-color: #eee;
    border: none;
    opacity: 0.8;

    &:focus {
      outline: 1px solid $primary-color;
    }
  }
}

.checkbox-group {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  label {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: -1px;
  }
}
