@import 'variables';
@import 'mixins';
@import 'globals';
@import 'header';
@import 'mobile-menu';
@import 'section';
@import 'contact-banner';
@import 'footer';

header {
  @media (max-width: 40em) and (orientation: portrait) {
    min-height: 200px;
  }

  @media (min-width: 500px) {
    min-height: 250px;
  }

  @media (min-width: 40em) and (orientation: landscape) {
    min-height: 90vh;
  }

  @media (min-width: 750px) {
    min-height: 400px;
  }

  @include breakpoint-up(medium2) {
    min-height: 500px;
  }

  @include breakpoint-up(xlarge) {
    min-height: 620px;
  }

  @media (min-width: 1600px) {
    //min-height: 800px;
  }

  .menu__toggle {
    position: absolute;
    top: 30px;
    right: 10px;
  }

  .hero-banner {
    position: absolute;

    @supports (inset: 0) {
      inset: 0;
    }

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    img {
      height: 100%;
      object-position: top;

      @include breakpoint-up(xlarge) {
        object-fit: cover;
      }
    }
  }
}

section {
  &#first-summary {
    margin-top: 80px;

    .primary-title {
      line-height: 2.25rem;

      @include breakpoint-up(medium2) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }

    .specifications {
      display: flex;
      justify-content: space-between;
      margin: 40px auto;
      padding: 10px 30px;
      border-radius: 5px;
      box-shadow: 3px 10px 20px rgb(0 0 0 / 10%);

      @include breakpoint-up(medium) {
        margin: 40px 0;
      }

      span {
        font-weight: 600;
      }
    }
  }

  &#twelve-themes {
    .wrapper {
      margin-top: 40px;
    }
  }

  &#donation-provide {
    .wrapper {
      margin-top: 40px;

      .owl-carousel {
        .owl-stage {
          //display: flex;
        }
      }
    }

    /*Initial styles*/
    .donation-input {
      text-align: justify;
      margin: 10px;
      border-radius: 20px;
      box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.02);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2em;

      @media (min-width: 750px) {
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.05);
      }

      .di-img {
        img {
          width: 80px;
          height: 80px;
        }
      }

      .di-text {
        .text-title {
          text-align: center;
          font-size: 18px;
          margin: 30px auto;
          text-transform: uppercase;
        }

        .text-body {
          p,
          ul {
            list-style-type: initial;
            list-style-position: inside;

            li {
              font-size: $regular-size;
              margin-left: 35px;
            }
          }
        }
      }

      &.skills {
        .di-img {
          img {
            width: 150px;
          }
        }
      }
    }
    /****END********/

    /*.donation-input {
      display: flex;
      flex-direction: column;
      border: 2px solid #eee;
      border-radius: 5px;

      .di-img {
        height: 200px;

        img {
          width: 30%;
          margin: auto;
          height: 100%;
          object-fit: contain;
        }
      }

      .di-text {
        color: $primary-color;
        padding: 25px 15px;

        .text-title {
          text-align: center;
          font-size: 18px;
          margin: 20px auto;
          text-transform: uppercase;
        }

        .text-body {
          p,
          ul {
            font-size: 15px;
            line-height: 26px;

            li {
              list-style-type: initial;
              margin-left: 30px;
            }
          }

          @include breakpoint-down(small) {
            text-align: left;
          }
        }
      }

      &.skills {
        .di-img {
          border: 1px solid #eee;

          img {
            width: 43%;
          }
        }

        .di-text {
          background-color: #eee;
        }
      }

      &.toolbox {
        .di-img {
          border: 1px solid #eee;
        }

        .di-text {
          background-color: #eee;
        }
      }

      &.impact {
        .di-img {
          border: 1px solid #eee;

          img {
            width: 25%;
          }
        }

        .di-text {
          background-color: #eee;
        }
      }
    }*/
  }
}

.orange {
  color: $secondary-color;
  font-weight: 500;

  a {
    text-decoration: underline;
  }
}

.bottom-banner {
  margin-top: 40px;

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 40em) and (orientation: landscape) {
      flex-direction: row;

      .banner-img {
        flex: 1;

        img {
          object-fit: cover;
        }
      }

      .banner-text {
        flex: 1;
      }
    }

    @include breakpoint-up(large) {
      .banner-img {
        flex: 1 0 28%;
      }

      .banner-text {
        flex: 1 0 72%;
      }
    }

    .banner-img {
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .banner-text {
      background-color: $secondary-color;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .content {
        margin: 20px auto 0;
        padding-bottom: 20px;
        color: #fff;
      }

      h1 {
        text-transform: capitalize;
        font-size: 38px;
        line-height: 50px;
        color: #fff;
        margin-top: 15px;
        word-break: break-all;
        letter-spacing: -2px;

        @include breakpoint-up(medium) {
          font-size: 60px;
        }

        .black {
          color: #111;
        }
      }

      .help {
        text-transform: initial;
        margin: 40px auto;

        p {
          font-size: 20px;
          line-height: 33px;
          padding: 0 0 1.875rem;
          max-width: 80%;
          margin: auto;
          font-weight: 100;
          opacity: 0.8;

          &:last-child {
            padding-bottom: 0;
          }

          @include breakpoint-up(medium2) {
            font-size: 25px;
            line-height: 46px;
          }
        }
      }

      .white {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-transform: initial;
        color: #fff;
        font-size: 20px;
        font-weight: 500;

        @include breakpoint-up(medium) {
          flex-direction: row;
        }

        .donate-btn {
          display: inline-block;
          text-transform: capitalize;
          background-color: $primary-color;
          padding: 20px;
          border-radius: 10px;
          margin-top: 20px;

          @include breakpoint-up(medium) {
            margin-top: 0;
            margin-left: 20px;
          }

          &:hover {
            background-color: $primary-light;
          }
        }
      }
    }
  }
}
